*{
    color: white;
    background-color: black;
}

.IMportCont{
    color: gray;
    justify-content: center;
    padding: 10px;

}
.PhraseInput{
    width: fit-content;
    justify-content: center;
    width: 70vw;
    color: aliceblue;
    box-shadow: 20px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 20px solid;
    border: 2px solid #c2bfbf;
    border-radius: 7px;
    font-size: 18px;
    height: 10rem;
    outline: none;
    padding: 10px;
    resize: none;
}

.JsonInput{
    border: 2px solid #c2bfbf;
    border-radius: 7px;
    font-size: 18px;
    height: 10rem;
    outline: none;
    padding: 10px;
    resize: none;
    width: 70vw;
    color: aliceblue;
    box-shadow: 20px;
    box-sizing: border-box;
    background-color: white;
}
.JsonInput2{
    width: 70vw;
}